<nav>
	<a href="/">Home</a>
	<a href="/saved">Saved Articles</a>
	<button class="btn blue" id="scrape">Scrape New Articles</button>
	<button class="red btn" id="delArticles">Clear Articles</button>
</nav>